
## <summary>policy for miracle</summary>


########################################
## <summary>
##	Transition to miracle.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`miracle_domtrans',`
	gen_require(`
		type miracle_t, miracle_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, miracle_exec_t, miracle_t)
')


########################################
## <summary>
##	Execute miracle server in the miracle domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miracle_initrc_domtrans',`
	gen_require(`
		type miracle_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, miracle_initrc_exec_t)
')


########################################
## <summary>
##	Search miracle lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miracle_search_lib',`
	gen_require(`
		type miracle_var_lib_t;
	')

	allow $1 miracle_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read miracle lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miracle_read_lib_files',`
	gen_require(`
		type miracle_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, miracle_var_lib_t, miracle_var_lib_t)
')

########################################
## <summary>
##	Manage miracle lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miracle_manage_lib_files',`
	gen_require(`
		type miracle_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, miracle_var_lib_t, miracle_var_lib_t)
')

########################################
## <summary>
##	Manage miracle lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miracle_manage_lib_dirs',`
	gen_require(`
		type miracle_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, miracle_var_lib_t, miracle_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a miracle environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`miracle_admin',`
	gen_require(`
		type miracle_t;
		type miracle_initrc_exec_t;
		type miracle_var_lib_t;
	')

	allow $1 miracle_t:process { ptrace signal_perms };
	ps_process_pattern($1, miracle_t)

	miracle_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 miracle_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, miracle_var_lib_t)

')

